.pagewrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.header{
    background-color: grey;
    color: black;
    height: 100px;
    text-align: center;
    line-height: 50px
}

.add-components{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: lightgrey;
    text-align: center;
}

.App{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly
}

.sidebar{
    width: 25%;
    min-width: 100px;
    border-right: dotted 1px grey;
    margin-top: 10px;
}
.folder{
    border: solid 1px lightblue;
    text-align: center;
    background-color: lightblue
}
.folder-highlighted{
    background-color: lightblue
}

.window{
    width: 75%;
    min-width: 220px;
}

.add-folder{
    margin: 10px;
}
#folder-name {
    margin: 10px;
}

.add-note{
    margin: 10px;
}
#note-name{
    margin: 10px;
}
#note-content{
    margin: 10px;
    width: 200px;
    height: 100px;
}
.select-folder{
    margin: 10px;
}

.note-preview{
    border: solid 1px cadetblue;
    margin: 5px;
    padding: 5px;
}

.note-content-hidden{
    display: none;
}
.note-content{
    display: block;
    margin-left: 15px;
}